##Overview

Dear Learner, 

Congratulations, you have studied Pandas all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

For the tasks, we'll be using the COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University. You can find the orginal dataset here: https://github.com/CSSEGISandData/COVID-19


**Dataset Link**: https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv

**Resources**: You may consider referring to this resource while solving this project: https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

**Information about the dataset:**

There are 8 features:

* SNo: Serial number
* ObservationDate: Date of observation of the cases (format: MM/DD/YYYY)
* Province/State: Province or State of the country where cases were observed
* Country/Region: Country where cases were observed
* Last Update: Time in UTC at which the row is updated for the given province or country. (It is not in a standard format)
* Confirmed: Cumulative number of confirmed cases till the date
* Deaths: Cumulative number of deaths till the date
* Recovered: Cumulative number of recovered cases till date

**Instruction for the learner:** 
* Recommended to revise 'groupby()' method of pandas
* Recommended to understand the word **'Cummulative'** properly for three features - 'Confirmed', 'Recovered' and 'Deaths'.
* Please note that the dtype of datetime columns are of object, convert them to datetime as shown below:

###**Task 1**

* Read the dataset and name is as `df`
* Print first 10 observations of the dataset
* Check for the data types of the all the variables in the dataset
* Convert columns ['ObservationDate'] and ['Last Update'] to from object to datatime data type.

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv')
df.rename(columns={'Last Update': 'LastUpdate','Province/State':'ProvinceState','Country/Region':'CountryRegion'},inplace=True)

print(df.head(10))
df.info()
df['ObservationDate'] = pd.to_datetime(df.ObservationDate)
df['LastUpdate'] = pd.to_datetime(df.LastUpdate)
df.info()

   SNo ObservationDate ProvinceState  ... Confirmed Deaths  Recovered
0    1      01/22/2020         Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020       Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020     Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020        Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020         Gansu  ...       0.0    0.0        0.0
5    6      01/22/2020     Guangdong  ...      26.0    0.0        0.0
6    7      01/22/2020       Guangxi  ...       2.0    0.0        0.0
7    8      01/22/2020       Guizhou  ...       1.0    0.0        0.0
8    9      01/22/2020        Hainan  ...       4.0    0.0        0.0
9   10      01/22/2020         Hebei  ...       1.0    0.0        0.0

[10 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40805 entries, 0 to 40804
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              40805 non-null  int64
 1   ObservationDate  40805 non-null  object
 2   ProvinceState    22790 non-null  object
 3   CountryRegion    40805 non-null  object
 4   LastUpdate       40805 non-null  object
 5   Confirmed        40805 non-null  float64
 6   Deaths           40805 non-null  float64
 7   Recovered        40805 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 2.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40805 entries, 0 to 40804
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              40805 non-null  int64
 1   ObservationDate  40805 non-null  datetime64[ns]
 2   ProvinceState    22790 non-null  object
 3   CountryRegion    40805 non-null  object
 4   LastUpdate       40805 non-null  datetime64[ns]
 5   Confirmed        40805 non-null  float64
 6   Deaths           40805 non-null  float64
 7   Recovered        40805 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 2.5+ MB

### **Task 2**
* Create a subset of the data `df`, only taking observations which was **last updated** on **2020-06-13 03:33:14** and name this dataframe as **updated_data**. 
* Print the total no. of observations and unique country records in **updated_data**

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv')
df.rename(columns={'Last Update': 'LastUpdate','Province/State':'ProvinceState','Country/Region':'CountryRegion'},inplace=True)

df['ObservationDate'] = pd.to_datetime(df.ObservationDate)
df['LastUpdate'] = pd.to_datetime(df.LastUpdate)

df[df.LastUpdate == '2020-06-13 03:33:14']

         SNo ObservationDate       ProvinceState  ... Confirmed Deaths  Recovered
40076  40077      2020-06-12                 NaN  ...   23546.0  446.0     3928.0
40077  40078      2020-06-12                 NaN  ...    1416.0   36.0     1034.0
40078  40079      2020-06-12                 NaN  ...   10698.0  751.0     7322.0
40079  40080      2020-06-12                 NaN  ...     853.0   51.0      781.0
40080  40081      2020-06-12                 NaN  ...     130.0    5.0       42.0
...      ...             ...                 ...  ...       ...    ...        ...
40800  40801      2020-06-12           Zacatecas  ...     501.0   55.0      279.0
40801  40802      2020-06-12  Zakarpattia Oblast  ...    1506.0   38.0      675.0
40802  40803      2020-06-12   Zaporizhia Oblast  ...     515.0   15.0      322.0
40803  40804      2020-06-12            Zhejiang  ...    1268.0    1.0     1267.0
40804  40805      2020-06-12     Zhytomyr Oblast  ...    1013.0   17.0      527.0

[729 rows x 8 columns]

### **Task 3**
* Create a subset of data from the dataframe **updated_data**, only taking the top 10 countries which have the maximum number of confirmed cases with features - **'Country/Region', 'Confirmed', 'Deaths' and 'Recovered'**. Name this dataframe as 'top_10'

* print the name of the countries in 'top_10' dataset
* Which country has the lowest number of confirmed cases among the ten countries in top_10 dataframe?
Hint: use groupby() to group all the observations with same country, sum all the observations and then sort the dataframe by confirmed cases.

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv')
df.rename(columns={'Last Update': 'LastUpdate','Province/State':'ProvinceState','Country/Region':'CountryRegion'},inplace=True)

df['ObservationDate'] = pd.to_datetime(df.ObservationDate)
df['LastUpdate'] = pd.to_datetime(df.LastUpdate)

#df.sort_values(by='LastUpdate')
#df

updated_data =df[df['LastUpdate'] == '2020-06-13 03:33:14']
top_10 = updated_data[['Confirmed','Deaths','Recovered','CountryRegion','ProvinceState']].groupby('CountryRegion').sum().sort_values(by = 'Confirmed', ascending=False)[0:10]

#print top_10
top_10

#print lowest cases
#top_10[-1:]

               Confirmed    Deaths  Recovered
CountryRegion
US             2048986.0  114669.0   547386.0
Brazil          828810.0   41828.0   445123.0
Russia          510761.0    6705.0   268862.0
India           297535.0    8498.0   147195.0
UK              294402.0   41566.0     1282.0
Spain           243209.0   27136.0   150376.0
Italy           236305.0   34223.0   173085.0
Peru            214788.0    6088.0   107133.0
France          193220.0   29377.0    72695.0
Germany         187226.0    8783.0   171535.0

### **Task 4**
* Add two columns in 'top_10' dataframe - 'Recovered_percentage' and 'Deaths_percentage' 

where

'Recovered_percentage' = (Recovered cases / Confirmed cases) * 100

'Death_percentage' = (Deaths cases / Confirmed cases) * 100

* Print the top 3 countries with highest recovery precent

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv')
df.rename(columns={'Last Update': 'LastUpdate','Province/State':'ProvinceState','Country/Region':'CountryRegion'},inplace=True)

df['ObservationDate'] = pd.to_datetime(df.ObservationDate)
df['LastUpdate'] = pd.to_datetime(df.LastUpdate)

#df.sort_values(by='LastUpdate')
#df

updated_data =df[df['LastUpdate'] == '2020-06-13 03:33:14']
top_10 = updated_data[['Confirmed','Deaths','Recovered','CountryRegion','ProvinceState']].groupby('CountryRegion').sum().sort_values(by = 'Confirmed', ascending=False)[0:10]


top_10 = top_10.assign(Recovered_percentage=top_10['Recovered']/top_10['Confirmed']*100)
top_10 = top_10.assign(Deaths_percentage=top_10['Deaths']/top_10['Confirmed']*100)
top_10.sort_values(by='Recovered_percentage',ascending=False,inplace=True)
top_10.head(3)

               Confirmed   Deaths  ...  Recovered_percentage  Deaths_percentage
CountryRegion                      ...
Germany         187226.0   8783.0  ...             91.619220           4.691122
Italy           236305.0  34223.0  ...             73.246440          14.482554
Spain           243209.0  27136.0  ...             61.829949          11.157482

[3 rows x 5 columns]

##**Scores**

Each of the tasks is of 5 mark each and the scores will be given accordingly after the notebook review.